<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<table>
  <tr>
    <td>
      <p class="mainfeedtext">LeaderBoard</p>
    </td>
    <td>
      <button class="material-symbols-outlined" (click)="openForm()">
        auto_awesome
      </button>
    </td>
  </tr>
</table>



<div class="maindiv" *ngIf="(user$ | async) as user">

  <div align = "center" class="form-popup" id="myForm">
    <table align = "center" class="form-container">
      <h2> Your Awards</h2>
      <div *ngFor = "let prize of prize$ | async">
        <div *ngIf = "user.uid == prize.uid">
        <p>{{user.name}}&nbsp;{{prize.award}}</p>
        </div>
      </div>
      <button type="button" align = "center" class="btn cancel" (click)="closeForm()">Close</button>
    </table>
  </div>

  <div *ngIf="!isButtonClicked && this.listUsers == null">
    <table align="center">
      <td align="center">
        <tr><p class="p2">Please click the button below to fetch the current leaderboard!</p></tr>
        <tr><button mat-raised-button (click)="getUsersListAll()"><p class="p3">CLICK HERE TO SEE THE LEADERBOARD</p></button></tr>
      </td>
    </table>
  </div>

  <span *ngIf="this.listUsers != null">
    <div *ngIf="(listUsers | returnsizepipe) >= 3">
      <div class="maindiv">
        <p class="p2">{{(this.listUsers | transformpipe) | returnrankuserpipe: user}}</p><!--userName, you are ranking xth prompt-->
      </div>

      <div class="wrapper">
        <div class="paddingclass">
          <div class="columndiv1t">
            <table align="center">
              <td align="center">
                <tr><br></tr>
                <tr><p class="pclass">{{(this.listUsers | transformpipe) | returnxthpipe: 2}}</p></tr><!--user, x points for 2nd podium-->
              </td>
            </table>
          </div>
          <div *ngIf="(this.listUsers | transformpipe) | returnifxthpipe: 2: user" class="columndiv1user">2</div><!--2nd col, user is 2nd-->
          <div *ngIf="!((this.listUsers | transformpipe) | returnifxthpipe: 2: user)" class="columndiv1">2</div><!--2nd col-->
        </div>

        <div class="columndiv1-2"></div>

        <div class="paddingclass">
          <div class="columndiv2t">
            <p class="pclass">{{(this.listUsers | transformpipe) | returnxthpipe: 1}}</p><!--user, x points for 1st podium-->
          </div>
          <div *ngIf="(this.listUsers | transformpipe) | returnifxthpipe: 1: user" class="columndiv2user">1</div><!--1st col, user is 1st-->
          <div *ngIf="!((this.listUsers | transformpipe) | returnifxthpipe: 1: user)" class="columndiv2">1</div><!--1st col-->
        </div>

        <div class="columndiv2-3"></div>

        <div class="paddingclass">
          <div class="columndiv3t">
            <table align="center">
              <td align="center">
                <tr><br></tr>
                <tr><br></tr>
                <tr><p class="pclass">{{(this.listUsers | transformpipe) | returnxthpipe: 3}}</p></tr><!--user, x points for 3rd podium-->
              </td>
            </table>
          </div>
          <div *ngIf="(this.listUsers | transformpipe) | returnifxthpipe: 3: user" class="columndiv3user">3</div><!--3rd col, user is 3rd-->
          <div *ngIf="!((this.listUsers | transformpipe) | returnifxthpipe: 3: user)" class="columndiv3">3</div><!--3rd col-->
        </div>
      </div>

      <br>

      <span *ngFor="let thisUser of (this.listUsers | transformpipe)">
        <div *ngIf="thisUser.userRank > 3">
          <div *ngIf="thisUser.userRank < filterSelection + 1">
            <div *ngIf="thisUser.userUid == user.uid">
              <mat-card class="backgroundcolor">
                <mat-card-content>
                  <p class="pclass">{{thisUser.userRank}}&nbsp;-&nbsp;{{thisUser.userName}}&nbsp;{{thisUser.userSurname}}</p>
                  <p class="pclass">{{thisUser.userPoint}}&nbsp;Points</p><!--4th and later, print user and user = this user-->
                </mat-card-content>
              </mat-card>
            </div>
            <div *ngIf="thisUser.userUid != user.uid">
              <mat-card>
                <mat-card-content>
                  <p class="pclass">{{thisUser.userRank}}&nbsp;-&nbsp;{{thisUser.userName}}&nbsp;{{thisUser.userSurname}}</p>
                  <p class="pclass">{{thisUser.userPoint}}&nbsp;Points</p><!--4th and later, print user and user is not this user-->
                </mat-card-content>
              </mat-card>
            </div>
            <br>
          </div>
        </div>
      </span>

      <div class="selectfilter">
        <mat-form-field appearance="fill">
          <mat-label>Display options</mat-label>
          <mat-select class="matselect" [(value)]="filterSelection">
            <mat-option [value]="10">First 10</mat-option>
            <mat-option [value]="15">First 15</mat-option>
            <mat-option [value]="(this.listUsers | transformpipe) | returnsizepipe">All Users</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="(listUsers | returnsizepipe) < 3">
      <div class="maindiv">
        <p class="p2">{{(this.listUsers | transformpipe) | returnrankuserpipe: user}}</p><!--userName, you are ranking xth prompt-->
      </div>

      <span *ngFor="let thisUser of (this.listUsers | transformpipe)">
        <div *ngIf="thisUser.userUid == user.uid">
          <mat-card class="backgroundcolor">
            <mat-card-content>
              <p class="pclass">{{thisUser.userRank}}&nbsp;-&nbsp;{{thisUser.userName}}&nbsp;{{thisUser.userSurname}}</p>
              <p class="pclass">{{thisUser.userPoint}}&nbsp;Points</p><!--print user and user = this user-->
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="thisUser.userUid != user.uid">
          <mat-card>
            <mat-card-content>
              <p class="pclass">{{thisUser.userRank}}&nbsp;-&nbsp;{{thisUser.userName}}&nbsp;{{thisUser.userSurname}}</p>
              <p class="pclass">{{thisUser.userPoint}}&nbsp;Points</p><!--print user and user is not this user-->
            </mat-card-content>
          </mat-card>
        </div>

        <br>
      </span>
    </div>
  </span>
</div>
