
.app-slogan{
  font-family: 'Bangers';
  font-size: 14px;

}

.mat-toolbar{
  background-color: white;

}

.spacer{
  flex: 1 1 auto;
}


.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
