.app-slogan{
  font-family: 'Bangers';
  font-size: 14px;

}

.mat-toolbar{
  background-color: #b9dcc0;

}.rightalign{
  display: flex;
  align-items:flex-start;
  justify-content: left;
}

.spacer{
  flex: 1 1 auto;
}


.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}


.maindiv{

  display: flex;
  align-items: flex-end;
  justify-content: right;
}



.redclass{
  color: darkred;

}

.blackclass{
  color: black;
}

.imgclass{
  margin-top: 8px;
}
