<mat-toolbar classs="fixed-header">

  <span>
    <div *ngIf="(user$ | async) as user"  class="maindiv">
      <button mat-icon-button>
        <mat-icon>play_circle_outline</mat-icon>
      </button>
    </div>
  </span> <!--this will be in-match screen button-->
  <span class="spacer"></span>
  <span class="imgclass"><img src="assets\logo_green_bg.jpg" width="120px" height="60px"></span>
  <span class="spacer"></span>
  <span>
    <div *ngIf="(user$ | async) as user" class="maindiv">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!--<button mat-menu-item (click)="navigateAdminPanel()">
          <div class="rightalign">
            <span><mat-icon class="blackclass">assignment_ind</mat-icon></span>
            <span class="blackclass">TFF Admin Panel</span>
          </div>
        </button>-->
        <button mat-menu-item (click)="navigateMainPage()">
          <div class="rightalign">
            <span><mat-icon class="blackclass">home</mat-icon></span>
            <!--<span class="spacer"></span>-->
            <span class="blackclass">Main Feed</span>


          </div>
        </button>

        <button mat-menu-item (click)="navigateProfilePage()">
          <div class="rightalign">
            <span><mat-icon class="blackclass">account_circle</mat-icon></span>

            <span class="blackclass">Profile Page</span>


          </div>
        </button>
        <button mat-menu-item (click)="callLogOut()">
          <div class="rightalign">
            <span><mat-icon class="redclass">close</mat-icon></span>
            <span class="redclass">Log Out</span>


          </div>
        </button>
      </mat-menu>
    </div>
  </span>

</mat-toolbar>





