.app-slogan{
  font-family: 'Bangers';
  font-size: 14px;

}

.mat-toolbar{
  background-color: rgb(185, 220, 192);

}.rightalign{
  display: flex;
  align-items:flex-start;
  justify-content: left;
}

.spacer{
  flex: 1 1 auto;
}


.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}


.maindiv{

  display: flex;
  align-items: flex-end;
  justify-content: right;
}



.redclass{
  color: darkred;

}

.blackclass{
  color: black;
}

.fontclass{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgclass{
  margin-top: 8px;
}



.in-match-button{
  border-radius: 35px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items:center;
  justify-content: center;
}
