<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="divs">
  <p class="mainfeedtext">Admin Panel</p>
</div>
<div *ngIf="(user$ | async) as user">
  <table  align="center">
    <tr align="center">
      <td>
        <mat-card class="matcardclass">
          <table>
            <tr>
              <td><span class="material-symbols-outlined">sports_soccer</span></td>
              <td><p class="namesurname">&nbsp;&nbsp;{{user.name}}&nbsp;{{user.surname}}</p></td>
            </tr>
            <tr>
              <td><mat-icon>alternate_email</mat-icon></td>
              <td><p class="namesurname">&nbsp;&nbsp;{{user.email}}</p></td>
            </tr>
          </table>
        </mat-card>

      </td>
    </tr>
  </table>
  <table align="center">
    <td>
      <tr>
        <td align="center"><button (click)="UserInfo()" mat-raised-button class="deletebutton">See User Profile</button></td>
        <td align="center"><button (click)="DoSmth()" mat-raised-button class="deletebutton">Lose Yourself</button></td>
      </tr>
    </td>
  </table>

  <div class="divs">
  <table>
    <tr>

      <td align="center">
        <mat-card class="matcardclass3">
          <div class="divform" width="50%">
            <mat-card>
              <mat-card-title class="p2">Please enter the details of your polls here.</mat-card-title>
              <form (submit)="submitPForm(pollsForm, user.name)" #pollsForm="ngForm">
                <table align="center">
                  <td align="center">
                    <tr>
                      <mat-form-field>
                        <input type="text" matInput name="questionInput" ngModel placeholder="Question" required #localQuestionInput="ngModel">
                      </mat-form-field>
                    </tr>
                    <br>
                    <tr>
                      <mat-form-field>
                        <textarea matInput name="opt1Input" ngModel placeholder="Option1" required  #localOpt1Input="ngModel"></textarea>
                      </mat-form-field>
                    </tr>
                    <tr>
                      <mat-form-field>
                        <textarea matInput name="opt2Input" ngModel placeholder="Option2" required  #localOpt2Input="ngModel"></textarea>
                      </mat-form-field>
                    </tr>
                    <tr>
                      <mat-form-field>
                        <textarea matInput name="opt3Input" ngModel placeholder="Option3" required  #localOption3Input="ngModel"></textarea>
                      </mat-form-field>
                    </tr>
                    <br>
                    <tr><button (click)="postedPollInactive()" mat-raised-button class="deactivatebutton">Deactivate previous poll</button></tr>
                    <br>
                    <tr><button mat-raised-button class="assignbutton">Post the poll</button></tr>
                  </td>
                </table>
              </form>
            </mat-card>
          </div>
        </mat-card>
      </td>

      <td align="center">
        <mat-card class="matcardclass2">
          <div class="divform" width="50%">
            <mat-card>
              <mat-card-title class="p2">Please enter the details of your news here.</mat-card-title>
              <form (submit)="submitForm(newsForm, user.name)" #newsForm="ngForm">
                <table align="center">
                  <td align="center">
                    <tr>
                      <mat-form-field>
                        <input type="text" matInput name="headerInput" ngModel placeholder="Header" required #localHeaderInput="ngModel">
                      </mat-form-field>
                    </tr>
                    <br>
                    <tr>
                      <mat-form-field>
                        <textarea matInput name="contentInput" ngModel placeholder="Body" required  #localContentInput="ngModel"></textarea>
                      </mat-form-field>
                    </tr>
                    <br>
                    <tr><button mat-raised-button class="loginbutton">Submit News</button></tr>
                  </td>
                </table>
              </form>
            </mat-card>
          </div>
        </mat-card>
      </td>



      <td align="center">
        <mat-card class="matcardclass2">
          <div class="divform" width="50%">
            <mat-card>
              <mat-card-title class="p2">Please enter the details of the match here.</mat-card-title>
              <form (submit)="submitMatch(matchesForm)" #matchesForm="ngForm">
                <table align="center">
                  <td align="center">
                    <tr>
                      <mat-form-field appearance="fill">
                        <mat-label>Team1</mat-label>
                        <mat-select matInput name= "Team1Input" ngModel required>
                          <mat-option *ngFor="let team of teams" [value]="team">
                            {{team}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </tr>
                    <tr>
                      <mat-form-field appearance="fill">
                        <mat-label>Team2</mat-label>
                        <mat-select matInput name= "Team2Input" ngModel required>
                          <mat-option *ngFor="let team of teams" [value]="team">
                            {{team}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </tr>

                    <div>
                    <mat-form-field appearance="fill">
                      <mat-label>Choose the match date</mat-label>
                      <input matInput required ngModel name= "DateInput" [matDatepicker]="picker">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                    <table>
                      <tr>
                      <td>
                      <mat-form-field appearance="fill">
                        <mat-label>Match Hour</mat-label>
                        <mat-select matInput name= "HourInput" ngModel required>
                          <mat-option *ngFor="let hour of hours" [value]="hour">
                            {{hour}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill">
                        <mat-label>Match Minute</mat-label>
                        <mat-select matInput name= "MinuteInput" ngModel required>
                          <mat-option *ngFor="let minute of minutes" [value]="minute">
                            {{minute}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                    <br>
                    <tr><button mat-raised-button class="loginbutton" >Log the Match</button></tr>
                  </td>
                </table>
              </form>
            </mat-card>
          </div>
        </mat-card>
      </td>

    </tr>
  </table>
  </div>
</div>

