<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="divs">
  <p class="mainfeedtext">Admin Panel</p>
</div>
<div *ngIf="(user$ | async) as user">
  <table  align="center">
    <tr align="center">
      <td>
        <mat-card class="matcardclass">
          <table>
            <tr>
              <td><span class="material-symbols-outlined">sports_soccer</span></td>
              <td><p class="namesurname">&nbsp;&nbsp;{{user.name}}&nbsp;{{user.surname}}</p></td>
            </tr>
            <tr>
              <td><mat-icon>alternate_email</mat-icon></td>
              <td><p class="namesurname">&nbsp;&nbsp;{{user.email}}</p></td>
            </tr>
          </table>
        </mat-card>

      </td>
    </tr>
  </table>
  <table align="center">
    <td>
      <tr>
        <td align="center"><button (click)="PollInactive()" mat-raised-button class="deletebutton">Deactivate poll</button></td>
        <td align="center"><button (click)="UserInfo()" mat-raised-button class="deletebutton">See User Profile</button></td>
        <td align="center"><button (click)="DoSmth()" mat-raised-button class="deletebutton">Data Visuals</button></td>
        <td align="center"><button (click)="MatchesInfo()" mat-raised-button class="deletebutton">Control Matches</button></td>
        <td align="center"><button (click)="PrizePage()" mat-raised-button class="deletebutton">Prize Page</button></td>
      </tr>
    </td>
  </table>

  <div class="divs">
  <table>
    <tr>

      <td align="center">
        <mat-card class="matcardclass3">
          <div class="divform" width="50%">
            <mat-card>
              <mat-card-title class="p2">Please enter the details of your polls here.</mat-card-title>
              <form (submit)="submitPForm(pollsForm, user.name)" #pollsForm="ngForm">
                <table align="center">
                  <td align="center">
                    <tr>
                      <mat-form-field>
                        <input type="text" matInput name="questionInput" ngModel placeholder="Question" required #localQuestionInput="ngModel">
                      </mat-form-field>
                    </tr>
                    <br>
                    <tr>
                      <mat-form-field>
                        <textarea matInput name="opt1Input" ngModel placeholder="Option1" required  #localOpt1Input="ngModel"></textarea>
                      </mat-form-field>
                    </tr>
                    <tr>
                      <mat-form-field>
                        <textarea matInput name="opt2Input" ngModel placeholder="Option2" required  #localOpt2Input="ngModel"></textarea>
                      </mat-form-field>
                    </tr>
                    <tr>
                      <mat-form-field>
                        <textarea matInput name="opt3Input" ngModel placeholder="Option3" required  #localOption3Input="ngModel"></textarea>
                      </mat-form-field>
                    </tr>
                    <tr><button mat-raised-button class="assignbutton">Post the poll</button></tr>
                  </td>
                </table>
              </form>
            </mat-card>
          </div>
        </mat-card>
      </td>

      <td align="center">
        <mat-card class="matcardclass2">
          <div class="divform" width="50%">
            <mat-card>
              <mat-card-title class="p2">Please enter the details of your news here.</mat-card-title>
              <form (submit)="submitForm(newsForm, user.name)" #newsForm="ngForm">
                <table align="center">
                  <td align="center">
                    <tr>
                      <mat-form-field>
                        <input type="text" matInput name="headerInput" ngModel placeholder="Header" required #localHeaderInput="ngModel">
                      </mat-form-field>
                    </tr>
                    <br>
                    <tr>
                      <mat-form-field>
                        <textarea matInput name="contentInput" ngModel placeholder="Body" required  #localContentInput="ngModel"></textarea>
                      </mat-form-field>
                    </tr>
                    <tr>
                      <mat-form-field appearance="fill">
                        <mat-label>Select tags</mat-label>
                        <mat-select  multiple #localTags="ngModel" matInput name="tagsInput" ngModel required>
                          <mat-option *ngFor="let team of teamsList" [value]="team">{{team}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </tr>
                    <br>
                    <tr><button mat-raised-button class="loginbutton">Submit News</button></tr>
                  </td>
                </table>
              </form>
            </mat-card>
          </div>
        </mat-card>
      </td>



      <td align="center">
        <mat-card class="matcardclass2">
          <div class="divform" width="50%">
            <mat-card>
              <mat-card-title class="p2">Please enter the details of the match here.</mat-card-title>
              <form (submit)="submitMatch(matchesForm)" #matchesForm="ngForm">
                <table align="center">
                  <td align="center">
                    <tr>
                      <mat-form-field appearance="fill">
                        <mat-label>Team1</mat-label>
                        <mat-select id="tm1" matInput name= "Team1Input" ngModel required>
                          <mat-option *ngFor="let team of teams" [value]="team">
                            {{team}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </tr>
                    <tr>
                      <mat-form-field appearance="fill">
                        <mat-label>Team2</mat-label>
                        <mat-select id="tm2" matInput name= "Team2Input" ngModel required>
                          <mat-option *ngFor="let team of teams" [value]="team">
                            {{team}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </tr>

                    <div>
                    <mat-form-field appearance="fill">
                      <mat-label>Choose the match date</mat-label>
                      <input matInput required ngModel name= "DateInput" [matDatepicker]="picker">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                    <table>
                      <tr>
                      <td>
                      <mat-form-field appearance="fill">
                        <mat-label>Match Hour</mat-label>
                        <mat-select matInput name= "HourInput" ngModel required>
                          <mat-option *ngFor="let hour of hours" [value]="hour">
                            {{hour}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill">
                        <mat-label>Match Minute</mat-label>
                        <mat-select matInput name= "MinuteInput" ngModel required>
                          <mat-option *ngFor="let minute of minutes" [value]="minute">
                            {{minute}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                    <br>
                    <tr><button name="submitMatch" mat-raised-button class="loginbutton" >Log the Match</button></tr>
                  </td>
                </table>
              </form>
            </mat-card>
          </div>
        </mat-card>
      </td>

    </tr>
    <tr>
      <td>
        <div *ngIf="(matches$ | async) as matchesList">
          <mat-card class="matcardclass4">
            <div class="divform">
              <mat-card class="inmatchpollmatcard">
                <mat-card-title class="p2">Open an in-match poll</mat-card-title>
                <form (submit)="openInMatchPoll(pollsInMatchForm)" #pollsInMatchForm="ngForm">
                  <table align="center">
                    <td align="center">
                      <tr>
                        <mat-form-field>
                          <input type="text" matInput name="pollTextInput" ngModel placeholder="Question" required #localQuestionInput="ngModel">
                        </mat-form-field>
                      </tr>
                      <br>
                      <tr>
                        <mat-form-field>
                          <textarea matInput name="opt1Input" ngModel placeholder="Option1" required  #localOpt1Input="ngModel"></textarea>
                        </mat-form-field>
                      </tr>
                      <tr>
                        <mat-form-field>
                          <textarea matInput name="opt2Input" ngModel placeholder="Option2" required  #localOpt2Input="ngModel"></textarea>
                        </mat-form-field>
                      </tr>
                      <tr>
                        <mat-form-field>
                          <textarea matInput name="opt3Input" ngModel placeholder="Option3" required  #localOption3Input="ngModel"></textarea>
                        </mat-form-field>
                      </tr>
                      <tr>
                        <mat-form-field>
                          <mat-label>Select a match</mat-label>
                            <mat-select matInput ngModel name="matchInput" required #localMatchInput="ngModel">
                              <mat-option *ngFor="let match of matchesList" [value]="match.matchID">
                                {{match.team1}}&nbsp;-&nbsp;{{match.team2}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="localMatchInput.invalid"><p class="errortext">Please select a match.</p></mat-error>
                        </mat-form-field>
                      </tr>
                      <tr>
                        <div class="spacediv"></div>
                      </tr>
                      <tr><button mat-raised-button class="assignbutton">Submit</button></tr>
                    </td>
                  </table>
                </form>
              </mat-card>
            </div>
          </mat-card>
        </div>
      </td>
      <td align="center">
        <mat-card class="matcardclass2">
          <div class="divform" width="50%">
            <mat-card>
              <mat-card-title class="p2">Please enter the details of the comments here.</mat-card-title>
              <form (submit)="submitComment(commentsForm)" #commentsForm="ngForm">
                <table align="center">
                  <td align="center">
                    <tr>
                      <mat-form-field appearance="fill">
                        <mat-label>Match</mat-label>
                        <mat-select matInput name= "matchInput" ngModel required>
                          <mat-option *ngFor="let matchX of myMatch" [value]="deneme(matchX)">
                            {{matchX}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </tr>
                    <table>
                      <tr>
                      <td>
                        <mat-form-field>
                          <input type="number" matInput name="minuteInput" number ngModel placeholder="Minute" required #localminuteInput="ngModel">
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Comment Type</mat-label>
                      <mat-select matInput name= "typeInput" ngModel required>
                        <mat-option *ngFor="let type of types" [value]="type">
                          {{type}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <mat-form-field>
                    <textarea matInput name="comT" ngModel placeholder="Comment" required  #localcomTInput="ngModel"></textarea>
                  </mat-form-field>
                </tr>
                </table>
                    <br>
                    <tr><button mat-raised-button class="loginbutton" >Log the Comment</button></tr>
                  </td>
                </table>
              </form>
            </mat-card>
          </div>
        </mat-card>
      </td>

    </tr>
  </table>
  </div>
</div>

