
<div class="titlediv" align="center"><p class="mainfeedtext">User Profiles</p></div>
<table align="center">
<tr align="center">
<div style="
  border: 4px solid #b9dcc0;
  width: 400px;
  height: 700px;
  overflow-x:auto">

    <div align="center" *ngFor="let users of user$ | async">
      <div>
        <br>
      <mat-card align="center" class="matcardclass" style="
      border: 4px solid #b36338">

      <table align="center">
        <tr>{{users.name}} {{users.surname}}</tr>
        <tr>{{users.gender}}</tr>
        <tr>{{users.team}}</tr>
        <tr>{{users.point}}</tr>
        <tr align="center">

            <td align="center" *ngIf = "users.isBanned != true"><button (click)="deleteUser(users.uid)" mat-raised-button class="deletebutton">Ban the account</button></td>
            <td align="center" *ngIf = "users.isBanned == true"><button (click)="UnbanUser(users.uid)" mat-raised-button class="deletebutton2">Unban the account</button></td>

        </tr>
      </table>
    </mat-card>
  </div>

      </div>



 </div>
 </tr>
</table>


