<br>
<table align="center">
<tr align="center">
<div style="border-radius: 50px;
  border: 4px solid #12798bb2;
  width: 500px;
  height: 700px;
  overflow-x:auto">
  <ul>
    <div align="center" *ngFor="let users of user$ | async">
      <div style="border-radius: 50px;
      border: 4px solid #12798bb2;
      width: 300px;
      height: auto;">
        <tr>
          <td >{{users.name}} {{users.surname}}</td>
        </tr>
        <tr>{{users.gender}}</tr>
        <tr>{{users.team}}</tr>
        <tr>{{users.point}}</tr>
        <tr align="center">

          <!--<td align="center"><button (click)="deleteUser(users.password, users.email)" mat-raised-button class="deletebutton">Delete user account</button></td>-->
          <td align="center"><button mat-raised-button class="deletebutton">Delete user account</button></td>

        </tr>
      </div>
      <br>
    </div>
  </ul>
</div>
</tr>
</table>
