<br>
<table align="center">
<tr align="center">
<div style="
  border: 4px solid #b9dcc0;
  width: 400px;
  height: 700px;
  overflow-x:auto">

    <div align="center" *ngFor="let users of user$ | async">
      <mat-card align="center" class="matcardclass">
      <table align="center">
        <tr>{{users.name}} {{users.surname}}</tr>
        <tr>{{users.gender}}</tr>
        <tr>{{users.team}}</tr>
        <tr>{{users.point}}</tr>
        <tr align="center">

            <td align="center"><button (click)="deleteUser()" mat-raised-button class="deletebutton">Delete user account</button></td>

        </tr>
      </table>
    </mat-card>
    <br>
      </div>
      <br>


 </div>
 </tr>
</table>


