.maindiv{

  display: flex;
  align-items: flex-end;
  justify-content: right;
}


.rightalign{
  display: flex;
  align-items: flex-end;
  justify-content: right;
}


.spacer{
  flex: 1 1 auto;
}

.mainfeedtext{
  font-size: 25px;
  font-family: 'Bangers';
}


.titlediv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  border-color: #ff9e2c;
  border-radius: 5px;
}

.newscontainer {
  background-color: #ff9e2c;
  position: relative;
  left: 0px;
  width: 42%;
  margin-left:5%;
  margin-top:50px;
  height:350px;

}

.pollscontainer {
  background-color: #b6701e;
  position: relative;
  right: 0px;
  width: 42%;
  margin-right:5%;
  margin-top:50px;
  height:350px;

  box-sizing: cover;
}

.matchescontainer {
  background-color: #ff9e2c;
  position: relative;
  height:fit-content;
  top: 450px;
  margin-left:500%;

}

.scrollcontainer{
  width: 45em;
  overflow-x: scroll;
  white-space: nowrap;

  border-radius: 10px;


}

.item {
  flex-shrink: 0;
  display: inline-block;
}

.photocontainer {
  position: absolute;

  box-sizing: cover;
}

.matcardclass{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  align-items: center;
  width: max-content;
  height:auto;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
}

/* width */
::-webkit-scrollbar {
  margin-top: 2px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(196, 196, 196);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 121, 121);
}
