<div class="maindiv">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateProfilePage()">
      <div class="rightalign">

        <span>Profile Page</span>
        <span class="spacer"></span>
        <span><mat-icon>account_circle</mat-icon></span>
      </div>

    </button>
    <button mat-menu-item (click)="callLogOut()">
      <div class="rightalign">

        <span>Log Out</span>
        <span class="spacer"></span>
        <span><mat-icon>close</mat-icon></span>
      </div>

    </button>
  </mat-menu>
</div>
