.maindiv{

  display: flex;
  align-items: flex-end;
  justify-content: right;
}


.rightalign{
  display: flex;
  align-items: flex-end;
  justify-content: right;
}


.spacer{
  flex: 1 1 auto;
}

.mainfeedtext{
  font-size: 25px;
  font-family: 'Bangers';
}


.titlediv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: table;
  width: 100%;
}

.newscontainer {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  width: 42%;
  margin-left:5%;
  margin-top:50px;
  height:350px;
  background-image: url("FeedB.png")
}

.pollscontainer {
  background-color: #b6701e;
  position: absolute;
  right: 0px;
  width: 42%;
  margin-right:5%;
  margin-top:50px;
  height:350px;
  background-image: url("FeedB2.png");
  box-sizing: cover;
}

