<div class="titlediv" ><p class="mainfeedtext">Main Feed Page</p></div>

<!-- <body>
    <div style="width: 100%;">
        <div style="margin-left: 5%; width: 42.5%; height: 100px; float: left; background: green;">
            Left Div
        </div>
        <div style="margin-left: 52.5%; margin-right: 5%; height: 100px; background: blue;">
            Right Div
        </div>
        <article>
      <h1>NEWS</h1>
      <p>See the latest news from the teams and the Federation here!</p>
    </article>
    </div>
 </body> -->

 <section class="container">
  <a (click)="navigateNewsPage()">
  <div class="newscontainer">
  </div>
</a>

  <div class="pollscontainer">
    <article>
      <h1>POLLS</h1>
      <p>Click to see the latest polls opened by the Federation.</p>
    </article>
  </div>
</section>
