<div *ngIf="(user$ | async) as user">
  <div class="titlediv" *ngIf = "user.isBanned == true"><br><br><p class="mainfeedtext">You're banned! Please contact us if you think there is a mistake.</p></div>
  <div *ngIf = "user.isBanned != true">
<div class="titlediv" ><p class="mainfeedtext">Main Feed Page</p></div>

<table align="center">
  <td align="center">
    <tr align="center">
      <td>
        <button mat-button class="buttonclass" >
          <a (click)="navigateNewsPage()"><img src="FeedB.png" width="700px"></a>
        </button>
      </td>
      <td>
        <button mat-button class="buttonclass">
          <a (click)=" navigatePollsPage()"><img src="FeedB2.png" width="700px"></a>
        </button>
      </td>
    </tr>
  </td>
</table>

<table align="center">
  <td align="center">
    <tr>
      <img src="FeedBMatch.png" width="200px">
      <div *ngIf="(matches$ | async) as matches">
        <div class="titlediv">
          <div class="matchscorediv">
            <div *ngIf="(matches | returnfinishedmatchpipe) as matcheslist">
              <div class="scrollcontainer">
              <div *ngFor="let match of matcheslist" class="item" >
                  <p>{{match.team1}} - {{match.team2}}</p>
                  <p>{{match.score_team1}} - {{match.score_team2}}</p>
              </div>
              </div>
              </div>
              <br>
            </div>
          </div><!--match score real time div-->
        </div>
    </tr>
  </td>
</table>
</div>
</div>
