.maindiv{

  display: flex;
  align-items: flex-end;
  justify-content: right;
}


.rightalign{
  display: flex;
  align-items: flex-end;
  justify-content: right;
}


.spacer{
  flex: 1 1 auto;
}

.mainfeedtext{
  font-size: 25px;
  font-family: 'Bangers';
}


.titlediv{
  display: flex;
  align-items: center;
  justify-content: center;
}
