<div class="divs">
  <p class="p1">Welcome To FeedBall!</p>
</div>
<div>
  <table>
    <td>
      <tr height="20px"></tr>
      <tr height="20px"></tr>
    </td>
  </table>
</div>
<div class="divform" width="50%">
  <mat-card>
    <mat-card-title class="p2">Please login to continue.</mat-card-title>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <table align="center">
        <td align="center">
          <tr>
            <mat-form-field>
              <input type="email" matInput name="emailInput" email ngModel placeholder="email" required #localEmailInput="ngModel">
              <mat-error *ngIf="localEmailInput.invalid">Please enter a valid email address.</mat-error>
            </mat-form-field>
          </tr>
          <tr><br></tr>
          <tr>
            <mat-form-field>
              <input type="password" matInput name="passwordInput" ngModel placeholder="password" required  #localPasswordInput="ngModel">
              <mat-error *ngIf="localPasswordInput.invalid">Please enter a valid password.</mat-error>
            </mat-form-field>
          </tr>
          <tr><br></tr>
          <tr><button name="loginPage" mat-raised-button class="loginbutton">Login</button></tr>
        </td>
      </table>
    </form>
  </mat-card>
</div>

<div class="divs">
  <table align="center">
    <tr aling="center">
      <td>
        <p class="p3">Don't have an account yet?</p>
      </td>
      <td>
        <p class="p4"><a mat-button routerLink="/signup">Signup now</a></p>
      </td>
    </tr>
  </table>
</div>
