<br>
<div class="titlediv" ><p class="mainfeedtext">InMatch Page</p></div>
<br>

<div *ngIf="(user$ | async) as user">
  <div class="titlediv">
    <div class="matchscorediv">
      <h3>real time match score</h3>
    </div><!--match score real time div-->
  </div>

  <div class="titlediv">
    <table align="center">
      <tr align="center">
        <td>
          <div class="borderclass">
            <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">
              <div *ngIf="(messages$ | async) as messagesList">
                <div *ngFor="let mesg of (messagesList | sortbydatepipe)">
                  <div *ngIf="mesg.messageOwnerID == user.uid" class="rightdiv">
                    <div class="box3 sbright">
                      <table align="right">
                        <td align="right">
                          <tr>
                            <p class="nameclass">{{mesg.messageOwnerName}}&nbsp;{{mesg.messageOwnerSurname}}</p>
                          </tr>
                          <tr><br></tr>
                          <tr>
                            <p>{{mesg.content}}</p>
                          </tr>
                          <tr>
                            <p>{{mesg.sentWhen | hoursminutespipe}}</p>
                          </tr>
                        </td>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="mesg.messageOwnerID != user.uid" class="leftdiv">
                    <div class="box3-2 sbleft">
                      <table align="left">
                        <td align="left">
                          <tr>
                            <p class="nameclass">{{mesg.messageOwnerName}}&nbsp;{{mesg.messageOwnerSurname}}</p>
                          </tr>
                          <tr><br></tr>
                          <tr>
                            <p>{{mesg.content}}</p>
                          </tr>
                          <tr>
                            <p>{{mesg.sentWhen | hoursminutespipe}}</p>
                          </tr>
                        </td>
                      </table>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </cdk-virtual-scroll-viewport>
            <div>
              <form class="example-form" (submit)="onSubmitForm(messageForm, user)" #messageForm="ngForm">
                <table align="center">
                  <tr align="center">
                    <td>
                      <mat-form-field class="example-full-width" [style.width.px]=650>
                        <input type="text" matInput placeholder="type something here..." name="content" ngModel #localContent="ngModel">
                      </mat-form-field>
                    </td>
                    <td>&nbsp;&nbsp;<button mat-mini-fab class="colorclass"><mat-icon>send</mat-icon></button></td>
                  </tr>
                </table>
              </form>
            </div>
        </div>
        </td>
        <td>
          <div class="borderclass">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport-2">
              <div>
                <h3>in match poll screen</h3>
              </div>
            </cdk-virtual-scroll-viewport>
            <div class="dummydiv"></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
