<br>
<div class="titlediv2" ><p class="mainfeedtext">InMatch Page</p></div>
<br>
<div *ngIf="(user$ | async) as user">
  <div *ngIf="(matches$ | async) as matches">
    <div *ngIf="(matches | returncurrentmatchidipe: matchId) as currentMatchId">
      <div *ngIf="currentMatchId != 'null'" class="aclass">
        <div class="titlediv">
          <div class="matchscorediv">
            <p align="center">{{(matches | returncurrentmatchipe: matchId)}}</p>
          </div>
        </div>
        <div class="titlediv">
          <table align="center">
            <tr align="center">
              <td>
                <div class="borderclass">
                  <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">
                    <div *ngIf="(messages$ | async) as messagesList">
                      <div *ngIf="(users$ | async) as usersList">
                        <div *ngFor="let mesg of ((messagesList | displaymessagesonlyformcurrentmatchipe : currentMatchId) | sortbydatepipe)">
                          <div *ngIf="mesg.messageOwnerID == user.uid" class="rightdiv">
                            <div class="box3 sbright">
                              <div class="rightdiv"><p class="nameclass">{{mesg.messageOwnerName}}&nbsp;{{mesg.messageOwnerSurname}}</p></div>
                              <div class="rightdiv"><p class="timeclass"><br></p></div>
                              <div class="rightdiv"><p class="textalign1">{{mesg.content}}</p></div>
                              <div><br></div>
                              <div class="outerdiv2">
                                <span><div class="leftdiv2"><p class="countclass">{{mesg.likeNumber}}&nbsp;like{{mesg.likeNumber | pluralpipe}}</p></div></span>
                                <span><div><p class="timeclass">{{mesg.sentWhen | hoursminutespipe}}</p></div></span>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="mesg.messageOwnerID != user.uid" class="leftdiv">
                            <div class="box3-2 sbleft">
                              <div class="leftdiv"><p class="nameclass">{{mesg.messageOwnerName}}&nbsp;{{mesg.messageOwnerSurname}}</p></div>
                              <div class="leftdiv"><p class="timeclass"><br></p></div>
                              <div class="leftdiv"><p class="textalign2">{{mesg.content}}</p></div>
                              <div class="rightdiv" *ngIf="!(mesg | isuserinlikedlistofmessagepipe: user)"><button mat-icon-button (click)="likeMessage(mesg, user, ReturnUser(mesg.messageOwnerID, usersList))"><mat-icon class="iconclass2">thumb_up</mat-icon></button></div>
                              <div class="rightdiv" *ngIf="(mesg | isuserinlikedlistofmessagepipe: user)"><button mat-icon-button (click)="unlikeMessage(mesg, user, ReturnUser(mesg.messageOwnerID, usersList))"><mat-icon class="iconclass3">thumb_up</mat-icon></button></div>
                              <div class="outerdiv" *ngIf="(mesg | isuserinlikedlistofmessagepipe: user)">
                                <span><div><p class="timeclass">{{mesg.sentWhen | hoursminutespipe}}</p></div></span>
                                <span><div class="rightdiv2"><p class="countclass2">{{mesg.likeNumber}}&nbsp;like{{mesg.likeNumber | pluralpipe}}</p></div></span>
                              </div>
                              <div class="outerdiv" *ngIf="!(mesg | isuserinlikedlistofmessagepipe: user)">
                                <span><div><p class="timeclass">{{mesg.sentWhen | hoursminutespipe}}</p></div></span>
                                <span><div class="rightdiv2"><p class="countclass">{{mesg.likeNumber}}&nbsp;like{{mesg.likeNumber | pluralpipe}}</p></div></span>
                              </div>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                    </div>
                  </cdk-virtual-scroll-viewport>
                  <div class="inputdiv">
                    <form class="example-form" (submit)="onSubmitForm(messageForm, user, currentMatchId)" #messageForm="ngForm">
                      <table align="center">
                        <tr align="center">
                          <td>
                            <mat-form-field class="example-full-width" [style.width.px]=650>
                              <input type="text" matInput placeholder="type something here..." name="content" ngModel #localContent="ngModel">
                            </mat-form-field>
                          </td>
                          <td>&nbsp;&nbsp;<button mat-mini-fab class="colorclass"><mat-icon>send</mat-icon></button></td>
                        </tr>
                      </table>
                    </form>
                  </div>
                </div>
              </td>
              <td>
                <div class="borderclass">
                  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport-2">
                    <div>
                      <h3>in match poll screen</h3>
                    </div>
                  </cdk-virtual-scroll-viewport>
                  <div class="dummydiv"></div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div *ngIf="currentMatchId == 'null'" class="errordiv">
        <table align="center">
          <td align="center">
            <tr>
              <br><br><br><br>
              <h2 class="oopsclass">OOPS!!</h2>
            </tr>
            <tr>
              <br>
              <h4>There is no match currently going on.<br><br>You can acces finished match scores in main feed page.</h4>
            </tr>
            <tr>
              <br>
              <button mat-raised-button (click)="navigateMainPage()" class="buttonbackground">Go back to main page</button>
            </tr>
          </td>
        </table>
      </div>
    </div>
  </div>
</div>
