.mainfeedtext{
  font-size: 25px;
  font-family: 'Bangers';
}


.titlediv{
  display: flex;
  align-items: center;
  justify-content: center;
}


.example-viewport {
  height: 480px;
  width: 740px;
  border: 1px transparent;
}
.example-viewport-2 {
  height: 480px;
  width: 740px;
  border: 1px transparent;

}


.example-item {
  height: 50px;
}

.dummydiv{
  height: 68px;
}

.matchscorediv{
  border: 1px solid grey;
  height: 60px;
  width: 1486px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.borderclass{
  border: 1px solid rgb(196, 196, 196);
}


* {
  margin: 0px;
  padding: 0px;
}

.box3 {
  width: 300px;
  margin-bottom: 20px auto;
  border-radius: 15px;
  background: #b9dcc0;
  color: black;
  padding: 20px;
  text-align: center;
  position: relative;
  right: 14px;
  height: fit-content;
}

.box3-2 {
  width: 300px;
  margin-bottom: 20px auto;
  border-radius: 15px;
  background: #e5f3e8;
  color: black;
  padding: 20px;
  text-align: center;
  left: 14px;
  position: relative;
  height: fit-content;
}


/* speech bubble 13 */

.sbright:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #b9dcc0;
  border-right: 15px solid transparent;
  border-top: 15px solid #b9dcc0;
  border-bottom: 15px solid transparent;
  right: -14px;
  top: 0px;
}


/* speech bubble 14 */

.sbleft:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #e5f3e8;
  border-top: 15px solid #e5f3e8;
  border-bottom: 15px solid transparent;
  left: -14px;
  top: 0px;
}



.rightdiv{
  display: flex;
  align-items: right;
  justify-content: right;

}


.leftdiv{
  display: flex;
  align-items: left;
  justify-content: left;
}

.iconclass{
  background-color: #83e094;
  color: black;
  border-radius: 20px;
  border: 5px solid #83e094;
}

.colorclass{
  background-color: #83e094;
}


.nameclass{
  font-size: smaller;
}
