.mainfeedtext{
  font-size: 25px;
  font-family: 'Bangers';
}


.titlediv{
  display: block;
  align-items: center;
  justify-content: center;
}


.titlediv2{
  display: flex;
  align-items: center;
  justify-content: center;
}


.example-viewport {
  height: 435px;
  width: 740px;
  border: 1px transparent;
}


.example-viewport-2 {
  height: 504px;
  width: 740px;
  border: 1px transparent;

}


.example-item {
  height: 50px;
}

.dummydiv{
  height: 68px;
}

.matchscorediv{
  border: 1px solid grey;
  height: 60px;
  width: 1486px;
  white-space: pre-line;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.borderclass{
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  padding-top:  5px;
}

.borderclass2{
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  padding-top:  5px;
  height: 435px;

}


/* width */
::-webkit-scrollbar {
  margin-top: -5px;
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(196, 196, 196);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 121, 121);
}


* {
  margin: 0px;
  padding: 0px;
}

.box3 {
  width: 300px;
  margin-bottom: 20px auto;
  border-radius: 15px;
  background: #b9dcc0;
  color: black;
  padding-right: 18px;
  padding-left: 4px;
  padding-top: 14px;
  padding-bottom: 4px;
  text-align: center;
  position: relative;
  right: 14px;
  height: fit-content;
}


.box3-2 {
  width: 300px;
  margin-bottom: 20px auto;
  border-radius: 15px;
  background: #e5f3e8;
  color: black;
  padding-left: 18px;
  padding-right: 4px;
  padding-top: 14px;
  padding-bottom: 4px;
  text-align: center;
  left: 14px;
  position: relative;
  height: fit-content;
}

/* speech bubble 13 */

.sbright:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #b9dcc0;
  border-right: 15px solid transparent;
  border-top: 15px solid #b9dcc0;
  border-bottom: 15px solid transparent;
  right: -14px;
  top: 0px;
}


/* speech bubble 14 */

.sbleft:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #e5f3e8;
  border-top: 15px solid #e5f3e8;
  border-bottom: 15px solid transparent;
  left: -14px;
  top: 0px;
}



.rightdiv{
  display: flex;
  align-items: right;
  justify-content: right;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rightdiv2{
  margin-right: 12px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftdiv2{
  display: flex;
  align-items: left;
  justify-content: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 12px;

}


.leftdiv{
  display: flex;
  align-items: left;
  justify-content: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftdivnew{
  display: flex;
  align-items: left;
  justify-content: left;
  float:left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  left: 0px;
}

.iconclass{
  background-color: #83e094;
  color: black;
  border-radius: 20px;
  border: 5px solid #83e094;
}

.iconclass2{
  color: grey;
  transform: scale(0.85);
}

.iconclass3{
  color: rgb(62, 91, 62);
  transform: scale(0.85);
}

.colorclass{
  background-color: #83e094;

}

.spacer{
  flex: 1 1 auto;
}

.nameclass{
  font-size: smaller;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.timeclass{
  font-size:x-small;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.countclass{
  font-size:x-small;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.countclass2{
  font-size:x-small;
  color: rgb(62, 91, 62);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spacebetweendiv{
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding-left: 1px;
  padding-right: 1px;

  text-align: center;
  position: relative;
}


.textalign1{
  text-align: right;
  text-align-last: right;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textalign2{
  text-align: left;
  text-align-last: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.outerdiv{
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
}


.outerdiv2{
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
}



.inputdiv{
  background-color: rgb(214, 214, 214);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: -1px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.errordiv{
  display: flex;
  align-items: center;
  justify-content: center;

}


.buttonbackground{
  background-color: #b9dcc0;
}


.oopsclass{
  font-family: 'Bangers';
}


.aclass{
  margin-left: 23px;

  margin-top: 15px;
  margin-bottom: 15px;
}

.checkbox{
  margin-top: 3px;
  color: black;
}



.p2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.pollcard{

  padding-left: 55px;
  padding-right: 55px;
}

.pollinnercard{
  margin-bottom: 8px;
  height: fit-content;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 20px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.welcometext{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color:dimgray;
}

.pollquestion{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.buttonoption{
  border-radius: 5px;
  width: 580px;
  align-items: left;
  display: flex;
  justify-content: left;
  margin-top: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonoptionselected{
  border-radius: 5px;
  width: 580px;



  margin-top: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:#b9dcc0;
  border: solid 1px #589a64;
}

.buttonoptionnonselected{
  border-radius: 5px;
  width: 580px;



  margin-top: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.spacerdiv{
  height: 5px;
}




.container{
  width:100%;
}

.align-left{
  float: left;
  width:50%;
}

.align-right{
  float: right;
  width:50%;
}


.timeclass2{
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

