<div class="divs">
  <p class="p1">Welcome To FeedBall!</p>
</div>

<div class="divform" >
  <mat-card>
    <mat-card-title class="p2">Create a FeedBall account!</mat-card-title>
    <form (submit)="onSignUp(loginForm)" #loginForm="ngForm">
      <table align="center">
        <td align="center">
          <tr>
            <mat-form-field>
              <input type="text" matInput name="nameInput" ngModel placeholder="name" required #localNameInput="ngModel">
              <mat-error *ngIf="localNameInput.invalid">Please enter your name.</mat-error>
            </mat-form-field>
          </tr>

          <tr>
            <mat-form-field>
              <input type="text" matInput name="surnameInput" ngModel placeholder="surname" #localSurnameInput="ngModel"  required>
              <mat-error *ngIf="localSurnameInput.invalid">Please enter your name.</mat-error>
            </mat-form-field>
          </tr>

          <!--
          <tr>
            <mat-form-field>
              <input type="text" matInput surname="surnameInput" ngModel placeholder="surname" required #localSurnameInput="ngModel">
              <mat-error *ngIf="localSurnameInput.invalid">Please enter your surname.</mat-error>
            </mat-form-field>
          </tr>
          -->

          <tr>
            <mat-form-field>
              <input type="email" matInput name="emailInput" email ngModel placeholder="email" required #localEmailInput="ngModel">
              <mat-error *ngIf="localEmailInput.invalid">Please enter a valid email address.</mat-error>
            </mat-form-field>
          </tr>

          <tr>
            <mat-form-field>
              <input type="password" matInput name="passwordInput1" ngModel placeholder="password" required #localPasswordInput1="ngModel">
              <mat-error *ngIf="localPasswordInput1.invalid">Please enter a valid password.</mat-error>
            </mat-form-field>
          </tr>

          <tr>
            <mat-form-field>
              <input type="password" matInput name="passwordInput2" ngModel placeholder="password verification" required  #localPassword2Input="ngModel">
              <mat-error *ngIf="!passwordMatch">Ple enter a valid password.</mat-error>
            </mat-form-field>
          </tr>
          <tr><mat-error *ngIf="!passwordMatch"><p class="errortext">Please enter the same password value as above.</p></mat-error></tr>

          <tr>
            <table width="100%">
              <tr width="100%">
                <td align="left">
                  <mat-radio-group class="radiobuttons" matInput ngModel name="genderInput" required #localStatus="ngModel">
                    <mat-radio-button value="Male"><p class="radiobuttontext">Male&nbsp;&nbsp;&nbsp;</p></mat-radio-button>
                    <mat-radio-button value="Female"><p class="radiobuttontext">Female&nbsp;&nbsp;&nbsp;</p></mat-radio-button>
                    <mat-radio-button value="Other"><p class="radiobuttontext">Other&nbsp;&nbsp;&nbsp;</p></mat-radio-button>
                    <mat-error *ngIf="localStatus.invalid"><p class="errortext">Please select a gender.</p></mat-error>
                  </mat-radio-group>
                </td>
              </tr>
            </table>
          </tr>

          <tr class="birthdayInput">
            <mat-form-field appearance="fill" >
              <mat-label class="s-e-label">Enter your birthday:</mat-label>
              <input matInput [matDatepicker]="pickerstart"  name="birthday" required ngModel #localBirthdayInput="ngModel">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
              <mat-datepicker #pickerstart></mat-datepicker>
              <mat-error *ngIf="localBirthdayInput.invalid"><p class="errortext">Please select your birthday in MM/DD/YYYY format.</p></mat-error>
            </mat-form-field>
          </tr>
          <tr><br></tr>
          <tr><button mat-raised-button color="primary">Sign Up</button></tr>
          </td>
      </table>
    </form>
  </mat-card>
</div>

<!--<div><a routerLink="">Login Page</a></div>-->

<div class="divs">
  <table align="center">
    <tr aling="center">
      <td>
        <p class="p3">Already signed up?</p>
      </td>
      <td>
        <p class="p4"><a mat-button routerLink="/">Login now</a></p>
      </td>
    </tr>
  </table>
</div>
