@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}
a{
  text-decoration:none
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:650px;
  min-width:300px;
  color:#eee;
}


.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale:(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://www.tff.org/Resources/TFF/Images/0000000015/TFF/TFF-Logolar/Orjinal/tff02.jpg) 90% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 20s  linear 100ms infinite;
  transition:all 2s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}
.menu{
  display:block;
  width:40px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}
.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  margin-top: 15px;
  width:100%;
  padding-top: 60px;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{
  padding:5% 10%;
  text-align:justify
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr{
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}

.containerX{
  box-shadow: inset 0 0 1px rgb(196,196,196);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 90px;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}
.containerX1{
  box-shadow: inset 0 0 1px rgb(196,196,196);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 90px;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.img img {
  width:100%;
  height: 100px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  transition-duration: 0.8s;
  object-fit: contain;
}
.img {
  overflow: hidden;
  object-fit: contain;
  margin: 0;
}

