<div>
  <div class="maindiv">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateMainPage()">
        <div class="rightalign">
          <span>Main Feed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="spacer"></span>
          <span><mat-icon>home</mat-icon></span>
        </div>
      </button>
      <button mat-menu-item (click)="navigateProfilePage()">
        <div class="rightalign">

          <span>Profile Page&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="spacer"></span>
          <span><mat-icon>account_circle</mat-icon></span>
        </div>

      </button>
      <button mat-menu-item (click)="callLogOut()">
        <div class="rightalign">

          <span>Log Out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="spacer"></span>
          <span><mat-icon>close</mat-icon></span>
        </div>
      </button>
    </mat-menu>
  </div>
</div>

<div class="divform" >
<mat-card>
<mat-card-title class="p2">You can change your user information here.</mat-card-title>
<form (submit)="onEditInfo(loginForm)" #loginForm="ngForm">
  <table align="center">
    <td align="center">
      <tr>
        <mat-form-field>
          <input type="text" matInput name="nameInput" ngModel placeholder="name" #localNameInput="ngModel">
          <mat-error *ngIf="localNameInput.invalid">Please enter your name.</mat-error>
        </mat-form-field>
      </tr>

      <tr>
        <mat-form-field>
          <input type="text" matInput name="surnameInput" ngModel placeholder="surname" #localSurnameInput="ngModel">
          <mat-error *ngIf="localSurnameInput.invalid">Please enter your name.</mat-error>
        </mat-form-field>
      </tr>

      <tr>
        <table width="100%">
          <tr width="100%">
            <td align="left">
              <mat-radio-group class="radiobuttons" matInput ngModel name="genderInput" #localStatus="ngModel">
                <mat-radio-button value="Male"><p class="radiobuttontext">Male&nbsp;&nbsp;&nbsp;</p></mat-radio-button>
                <mat-radio-button value="Female"><p class="radiobuttontext">Female&nbsp;&nbsp;&nbsp;</p></mat-radio-button>
                <mat-radio-button value="Other"><p class="radiobuttontext">Other&nbsp;&nbsp;&nbsp;</p></mat-radio-button>
                <mat-error *ngIf="localStatus.invalid"><p class="errortext">Please select a gender.</p></mat-error>
              </mat-radio-group>
            </td>
          </tr>
        </table>
      </tr>

      <tr class="birthdayInput">
        <mat-form-field appearance="fill" >
          <mat-label class="s-e-label">Enter your birthday:</mat-label>
          <input matInput [matDatepicker]="pickerstart"  name="birthday" ngModel #localBirthdayInput="ngModel">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
          <mat-datepicker #pickerstart></mat-datepicker>
          <mat-error *ngIf="localBirthdayInput.invalid"><p class="errortext">Please select your birthday in MM/DD/YYYY format.</p></mat-error>
        </mat-form-field>
      </tr>
      <tr><br></tr>
      <tr><button mat-raised-button  class="signupbutton">Change</button></tr>
      </td>
  </table>
</form>
</mat-card>
</div>
