<div class="divs">
  <p class="mainfeedtext">User Profile</p>
</div>
<div *ngIf="(user$ | async) as user">
  <table  align="center">
    <tr align="center">
      <td>
        <mat-card class="matcardclass">
          <table>
            <tr>
              <td><mat-icon>account_circle</mat-icon></td>
              <td><p class="namesurname">&nbsp;&nbsp;{{user.name}}&nbsp;{{user.surname}}</p></td>
            </tr>
            <tr>
              <td><mat-icon>alternate_email</mat-icon></td>
              <td><p class="namesurname">&nbsp;&nbsp;{{user.email}}</p></td>
            </tr>
            <tr>
              <td><mat-icon>wc</mat-icon></td>
              <td><p class="namesurname">&nbsp;&nbsp;{{user.gender}}</p></td>
            </tr>
            <tr>
              <td><mat-icon>cake</mat-icon></td>
              <td><p class="namesurname">&nbsp;&nbsp;{{user.age.toDate() | date:'dd/MM/yyyy'}}</p></td>
            </tr>
            <tr>
              <td><mat-icon>assessment</mat-icon></td>
              <td><p class="namesurname">&nbsp;&nbsp;{{user.point}}&nbsp;Points</p></td>
            </tr>
          </table>
        </mat-card>
      </td>
    </tr>
  </table>
  <table align="center">
    <td>
      <tr>
        <td align="center"><button (click)="deleteUserAccount()" mat-raised-button class="deletebutton">Delete user account</button></td>
      </tr>
    </td>
  </table>
  <table align="center">
    <td>
      <tr>
        <td align="center"><button (click)="editUserInfo()" mat-raised-button class="deletebutton">Edit user profile</button></td>
      </tr>
    </td>
  </table>
  <table align="center">
    <td>
      <tr>
        <td align="center"><button (click)="changePassword(user.email)" mat-raised-button class="deletebutton">Reset your password</button></td>
        <p *ngIf="showMyMessage">Your reset link has been sent to your mail address.</p>
      </tr>
    </td>
  </table>
</div>

