<table align="center">
<div *ngIf="(user$ | async) as user">

  <div *ngIf="(news$ | async) as news">

    <div *ngIf="filterOption == 'allteamfirst'">
      <div *ngIf="(news | sortteamfirstpipe: user.team) as newslist">

        <div *ngFor="let news of newslist">

          <mat-accordion multi="true">
            <mat-expansion-panel class="individualnews">
              <mat-expansion-panel-header>
                <table width="100%">
                  <span class="left"><td>{{news.header}}&nbsp;&nbsp;</td></span>
                  <span class="space-panel"></span>
                  <span class="right"><td><div>&nbsp;&nbsp;{{news.newsdate | todatepipe2}}&nbsp;&nbsp;</div></td></span>
                </table>
              </mat-expansion-panel-header>
              <span class="left"><td><div>&nbsp;&nbsp; by {{news.writtenby}}&nbsp;&nbsp;</div></td></span>
              <br>
              <span class="left"><td><div>&nbsp;&nbsp;{{news.content}}&nbsp;&nbsp;</div></td></span>
            </mat-expansion-panel>
          </mat-accordion>

        </div>

      </div>
    </div>

    <div *ngIf="filterOption == 'teamonly'">
      <div *ngIf="((news | filterteamonlypipe: user.team) | sortdatedescendingpipe) as newslist">
        <div *ngFor="let news of newslist">
          <div>
            <mat-accordion multi="true">
              <mat-expansion-panel class="individualnews">
                <mat-expansion-panel-header>
                  <table width="100%">
                    <span class="left"><td>{{news.header}}&nbsp;&nbsp;</td></span>
                    <span class="space-panel"></span>
                    <span class="right"><td><div>&nbsp;&nbsp;{{news.newsdate | todatepipe2}}&nbsp;&nbsp;</div></td></span>
                  </table>
                </mat-expansion-panel-header>
                <span class="left"><td><div>&nbsp;&nbsp; by {{news.writtenby}}&nbsp;&nbsp;</div></td></span>
                <br>
                <span class="left"><td><div>&nbsp;&nbsp;{{news.content}}&nbsp;&nbsp;</div></td></span>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>


    </div>

    <div *ngIf="filterOption == 'alldatedesc'">
      <div *ngIf="(news | sortdatedescendingpipe) as newslist">
        <div *ngFor="let news of newslist">
          <div>
            <mat-accordion multi="true">
              <mat-expansion-panel class="individualnews">
                <mat-expansion-panel-header>
                  <table width="100%">
                    <span class="left"><td>{{news.header}}&nbsp;&nbsp;</td></span>
                    <span class="space-panel"></span>
                    <span class="right"><td><div>&nbsp;&nbsp;{{news.newsdate | todatepipe2}}&nbsp;&nbsp;</div></td></span>
                  </table>
                </mat-expansion-panel-header>
                <span class="left"><td><div>&nbsp;&nbsp; by {{news.writtenby}}&nbsp;&nbsp;</div></td></span>
                <br>
                <span class="left"><td><div>&nbsp;&nbsp;{{news.content}}&nbsp;&nbsp;</div></td></span>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>

  </div>
  <table align="center">
  <div class="selectfilter">
    <mat-form-field appearance = "fill" class = "displaybutton">
      <mat-label>Display options</mat-label>
      <mat-select class="matselect" [(value)]="filterOption">
        <mat-option value="allteamfirst">All News ({{user.team}} First)</mat-option>
        <mat-option value="teamonly">Only {{user.team}} News</mat-option>
        <mat-option value="alldatedesc">All News (Newer First)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</table>
</div>
</table>

