<div *ngIf="(user$ | async) as user">

  <div *ngIf="(news$ | async) as news">

    <div *ngIf="filterOption == 'all'">

      <div *ngIf="(news | sortteamfirstpipe: user.team) as newslist">

        <div *ngFor="let news of newslist">

          <mat-accordion multi="true">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <table width="100%">
                  <span class="left"><td>{{news.header}}&nbsp;&nbsp;</td></span>
                  <span class="space-panel"></span>
                  <span class="right"><td><div class="statust">&nbsp;&nbsp;{{news.writtenby}}&nbsp;&nbsp;</div></td></span>
                  <span class="right"><td><div class="statusi">&nbsp;&nbsp;{{news.newsdate | todatepipe2}}&nbsp;&nbsp;</div></td></span>
                  <span class="right"><td><div class="statusf">&nbsp;&nbsp;{{news.content}}&nbsp;&nbsp;</div></td></span>
                </table>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>

        </div>

      </div>

      <div class="selectfilter">
        <mat-form-field appearance="fill">
          <mat-label>Display options</mat-label>
          <mat-select class="matselect" [(value)]="filterOption">
            <mat-option value="all">All news</mat-option>
            <mat-option value="teamonly">Only {{user.team}} news</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div *ngIf="filterOption == 'teamonly'">

      <div *ngIf="(news | filterteamonlypipe: user.team) as newslist">
        <div *ngFor="let news of newslist">
          <div>
            <mat-accordion multi="true">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <table width="100%">
                    <span class="left"><td>{{news.header}}&nbsp;&nbsp;</td></span>
            <span class="space-panel"></span>
            <span class="right"><td><div class="statust">&nbsp;&nbsp;{{news.writtenby}}&nbsp;&nbsp;</div></td></span>
            <span class="right"><td><div class="statusi">&nbsp;&nbsp;{{news.newsdate | todatepipe2}}&nbsp;&nbsp;</div></td></span>
            <span class="right"><td><div class="statusf">&nbsp;&nbsp;{{news.content}}&nbsp;&nbsp;</div></td></span>
              </table>
            </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
          </div>
        </div>
      </div>

      <div class="selectfilter">
        <mat-form-field appearance="fill">
          <mat-label>Display options</mat-label>
          <mat-select class="matselect" [(value)]="filterOption">
            <mat-option value="all">All news</mat-option>
            <mat-option value="teamonly">Only {{user.team}} news</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

  </div>

</div>



