.right{
  float: right;
}

.left{
  float: left;
}

.space-panel{
  flex: 1 1 auto;
}


.individualnews{
  margin: 5%;
  background-color:rgb(242, 255, 241);
  border: 3px solid rgb(216, 255, 213);
  border-radius: 10px;
}

.displaybutton{
  width: 170px;
  height: 40px;
  border-radius: 25px;
}


.buttonsrowclass{
  display: flex;
  align-items: flex-end;
  justify-content: right;
}


.material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 10
}


.liked{
  color: rgb(62, 91, 62);

}

.notliked{
  color: grey;
}


.disliked{
  color: rgb(133, 37, 37);
}


.notdisliked{
  color: grey;
}

.aligncenter{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

