<div *ngIf="(user$ | async) as user">
  <div *ngIf="(news$ | async) as news">

    <div *ngIf="filterOption == 'allteamfirst'">
      <div *ngIf="(news | sortteamfirstpipe: user.team) as newslist">
        <div *ngFor="let news of newslist">
          <div>
            <table>
            <tr>
              <h1>{{news.header}}</h1>
            </tr>
            <tr>{{news.writtenby}}</tr>
            <tr>{{news.newsdate | todatepipe2}}</tr>
            <tr>{{news.content}}</tr>
          </table>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="filterOption == 'teamonly'">
      <div *ngIf="((news | filterteamonlypipe: user.team) | sortdatedescendingpipe) as newslist">
        <div *ngFor="let news of newslist">
          <div>
            <table>
            <tr>
              <h1>{{news.header}}</h1>
            </tr>
            <tr>{{news.writtenby}}</tr>
            <tr>{{news.newsdate | todatepipe2}}</tr>
            <tr>{{news.content}}</tr>
          </table>
          </div>
        </div>
      </div>


    </div>

    <div *ngIf="filterOption == 'alldatedesc'">
      <div *ngIf="(news | sortdatedescendingpipe) as newslist">
        <div *ngFor="let news of newslist">
          <div>
            <table>
            <tr>
              <h1>{{news.header}}</h1>
            </tr>
            <tr>{{news.writtenby}}</tr>
            <tr>{{news.newsdate | todatepipe2}}</tr>
            <tr>{{news.content}}</tr>
          </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="selectfilter">
    <mat-form-field appearance="fill">
      <mat-label>Display options</mat-label>
      <mat-select class="matselect" [(value)]="filterOption">
        <mat-option value="allteamfirst">All news - {{user.team}} first</mat-option>
        <mat-option value="teamonly">Only {{user.team}} related news</mat-option>
        <mat-option value="alldatedesc">All news - newer first</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>



