.right{
  float: right;
}

.left{
  float: left;
}

.leftby{
  margin-top: -5px;
  float: left;
  font-size: 12px;
}

.lefttitle{
  float: left;
  font-size: 16px;
  font-weight: 500;
}

.centerdiv{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px;
}


.mainfeedtext{
  font-size: 25px;
  font-family: 'Bangers';
}


.space-panel{
  flex: 1 1 auto;
}


.individualnews{
  margin: 5%;
  background-color:rgb(242, 255, 241);
  border: 3px solid rgb(216, 255, 213);
  border-radius: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.displaybutton{
  width: fit-content;
  height: 40px;
  border-radius: 25px;
}


.buttonsrowclass{
  display: flex;
  align-items: flex-end;
  justify-content: right;
}


.material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 10
}

.matselect{
  width: fit-content;
}

.liked{
  color: rgb(62, 91, 62);

}

.notliked{
  color: grey;
}


.disliked{
  color: rgb(133, 37, 37);
}


.notdisliked{
  color: grey;
}

.aligncenter{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pgrey{
  color: grey;
}

.pblack{
  color: black;
}

.pred{
  color: rgb(133, 37, 37);

}

.pgreen{
  color: rgb(62, 91, 62);

}
