/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@font-face {
  font-family: Bangers;
  src: url("/assets/fonts/Bangers-Regular.ttf") format("truetype");
}


body {
  margin: 0;
}



.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important; /*click effect color change*/
  background-color: #b9dcc0 !important;  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #b9dcc0 !important; /*inner circle color change*/  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #b9dcc0 !important; /*outer ring color change*/  }
